<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespqce 名称空间
    id SQL语句的唯一标识符
    SQL语句中特殊字符处理
        转义字符（麻烦） CDATA区：输入即可CD
-->
<mapper namespace="com.cheney.mapper.SingerMapper">
    <select id="selectSingerByHits" resultType="com.cheney.pojo.Singer">
        SELECT a.*
        FROM tb_singer a
        INNER JOIN (
        SELECT s.singer, SUM(s.hits) AS total_hits
        FROM tb_song s
        GROUP BY s.singer
        ORDER BY total_hits DESC
        ) t ON a.id = t.singer
        LIMIT 4;
    </select>
</mapper>