<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>首页</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="../../../assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="../../../assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../../assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../../assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../../assets/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="../../../assets/images/favicon.png"/>
    <style>
        .grid-content img {
            height: 200px;
            display: block;
            margin: 0 auto;
        }
    </style>
    <style scoped>
        h2 {
            font-size: 20px;
        }

        .btnBox {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-content: space-around;
        }

        .container {
            /*msg*/
            font-size: 10px;
            text-align: center;
            max-width: 500px;
            margin: auto;
            color: #FFFFFF;
        }

        .musicName {
            font-size: 20px;
        }

        .listBox {

            text-align: left;
            color: #FFFFFF;
        }

        .subTitle {
            margin-left: 20px;
            color: #FFFFFF;
            font-size: 20px;
        }

        .musicItem {
            margin-left: 20px;
            line-height: 40px;
            cursor: pointer;
        }

        .myPlayer {
            border: 2px solid #ffffff;
            border-radius: 10px;
            padding: 10px 20px;
            margin: 10px;
        }

        .controlBox {
            display: flex;
            justify-content: space-evenly;
            font-size: 30px;
            color: #ffffff;
        }

    </style>

</head>
<body >

<div class="container-scroller" id="app">
    <!-- partial:partials/_navbar.html --><!--导航栏-->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" href="../../index2.html">
                <img src="../../../assets/images/logo.png" alt="logo"/> </a>

        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-semibold d-none d-lg-block">Help : +086 198 5039 2999</li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="mdi mdi-bell-outline"></i>
                        <span class="count">1</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
                         aria-labelledby="messageDropdown">
                        <a class="dropdown-item py-3">
                            <p class="mb-0 font-weight-medium float-left">You have 1 unread mails </p>
                            <span class="badge badge-pill badge-primary float-right">View all</span>
                        </a>
                        <div class="dropdown-divider"></div>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-email-outline"></i>
                        <span class="count bg-success">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
                         aria-labelledby="notificationDropdown">
                        <a class="dropdown-item py-3 border-bottom">
                            <p class="mb-0 font-weight-medium float-left">You have 3 new notifications </p>
                            <span class="badge badge-pill badge-primary float-right">View all</span>
                        </a>

                    </div>
                </li>
                <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
                    <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                       aria-expanded="false">
                        <img class="img-xs rounded-circle" src="../../../assets/images/faces-clipart/pic-4.png"
                             alt="Profile image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <div class="dropdown-header text-center">
                            <a class="dropdown-item" >{{user.manager}}<i class="dropdown-item-icon ti-power-off"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial 下方主要内容-->
    <div class="container-fluid page-body-wrapper" >
        <!-- partial:partials/_sidebar.html 侧边-->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">

                <li class="nav-item nav-category"></li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="menu-icon typcn typcn-document-add"></i>
                        <span class="menu-title">主界面</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="blank-page.html">首页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="singer.html">歌手库</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="songs.html"> 歌曲库 </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="mySongs.html"> 我的歌曲 </a>
                            </li>

                        </ul>
                    </div>
                    <div>&nbsp</div>
                    <div >
                        <!-- 音乐播放器 -->
                        <div class="container">
                            <h2>{{ musicList[MusicIndex].songName }}</h2>
                            <audio
                                    ref="Ref_audioPlayer"
                                    controls
                                    :src="musicList[MusicIndex].fileURL"
                                    @ended="overAudio"
                                    @pause="onPause"
                                    @play="onPlay"
                                    @loadeddata="loadeddata"
                                    @timeupdate="timeupdate"
                                    hidden="hidden"
                            ></audio>
                            <div class="listBox">
                                <div class="myPlayer">
                                    <el-slider
                                            @mousedown="isDraging = 'true'"
                                            @mouseup="isDraging = 'false'"
                                            @change="currentRateChange"
                                            v-model="currentRate"
                                            :marks="marks"
                                            :show-tooltip="false"
                                    >
                                    </el-slider>
                                    <div class="controlBox">
                                        <i @click="move(-5)" class="el-icon-d-arrow-left"></i>
                                        <i
                                                type="primary"
                                                v-if="playstatus"
                                                @click="pause"
                                                class="el-icon-video-pause"
                                        ></i>
                                        <i type="primary" v-else @click="play" class="el-icon-video-play"></i>
                                        <i @click="replay" class="el-icon-refresh-left"></i>
                                        <i @click="move(5)" class="el-icon-d-arrow-right"></i>
                                    </div>
                                </div>
                                <div>&nbsp</div>
                                <h3 class="subTitle">播放列表</h3>
                                <ul>
                                    <li
                                            @click="changeMusic($index)"
                                            class="musicItem"
                                            v-for="(song, $index) in musicList"
                                            :key="song.id"
                                    >
                                        {{ song.songName }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial 主体-->
        <div class="main-panel">
            <div class="content-wrapper">
                <div  class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <template>
                                    <div id="banner">
                                        <!--动态将图片轮播图的容器高度设置成与图片一致-->
                                        <el-carousel :height="bannerHeight + 'px'">
                                            <!--遍历图片地址,动态生成轮播图-->
                                            <el-carousel-item v-for="item in img_list" :key="item">
                                                <img :src="item" :height="bannerHeight+ 'px'">
                                            </el-carousel-item>
                                        </el-carousel>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 grid-margin">
                        <div class="card">
                            <div class="p-4 border-bottom bg-light d-flex justify-content-between">
                                <div>
                                    <h1 class="card-title mb-0">热门歌手</h1>
                                </div>
                                <div>
                                    <h2 class="card-title mb-0">
                                        <a href="singer.html">更多</a>
                                        &nbsp&nbsp&nbsp
                                    </h2>
                                </div>
                            </div>
                            <div>
                                &nbsp
                            </div>
                            <el-row>
                                <el-col :span="6">
                                    <div class="grid-content bg-purple">
                                        <img :src="singers[0].imgURL" :alt="singers[0].singerName">
                                    </div>
                                </el-col>
                                <el-col :span="6">
                                    <div class="grid-content bg-purple-light">
                                        <img :src="singers[1].imgURL" :alt="singers[1].singerName">
                                    </div>
                                </el-col>
                                <el-col :span="6">
                                    <div class="grid-content bg-purple">
                                        <img :src="singers[2].imgURL" :alt="singers[2].singerName">
                                    </div>
                                </el-col>
                                <el-col :span="6">
                                    <div class="grid-content bg-purple-light">
                                        <img :src="singers[3].imgURL" :alt="singers[3].singerName">
                                    </div>
                                </el-col>
                            </el-row>
                            <div>
                                &nbsp
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">热门歌曲</h4>
                                <p class="card-description"> Hot Songs </p>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>歌名</th>
                                        <th>歌手</th>
                                        <th>播放量</th>
                                        <th>&nbsp</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="song in hotsongs" :key="song.id">
                                        <td>{{ song.songName }}</td>
                                        <td>{{ song.singer }}</td>
                                        <td>{{ song.hits }}</td>
                                        <td>
                                            <el-button size="mini" round icon="el-icon-video-play"
                                                       @click="addtolist(song.id,song.songName,song.fileURL)"></el-button>
                                            <el-button size="mini" round icon="el-icon-star-off"
                                                       @click="addSongtoUser(song.id,user.id)"></el-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">曲风</h4>
                                <p class="card-description"> Types </p>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>歌曲类型</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in types" :key="item.type">
                                        <td>{{ item }}</td>
                                        <td>
                                            <el-button size="mini" round icon="el-icon-magic-stick">了解更多</el-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <!--数据总览-->
            </div>

            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html 底部 -->
            <footer class="footer">


            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
<script src="../../../assets/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../../../assets/js/shared/off-canvas.js"></script>
<script src="../../../assets/js/shared/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../../assets/js/demo_1/dashboard.js"></script>
<script src="../../../../js/vue.js"></script>
<script src="../../../../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../../../../element-ui/lib/theme-chalk/index.css">
<script src="../../../../js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectSongByHitsFive();
            this.selectSingerByHits();
            this.screenWidth = window.innerWidth;
            this.setSize();
            window.onresize = () => {
                this.screenWidth = window.innerWidth;
                this.setSize();
            }
            this.selectAllAll();
            this.selectAllTypes();

            const storedUser = localStorage.getItem('user');
            if (storedUser) {
                console.log(storedUser);
                this.user = JSON.parse(storedUser);
            } else {
                // 用户未登录，重定向到登录页面
                window.location.href = 'login.html';
            }

        },
        methods: {
            updateSongHits(id){
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/MusicWebV1_0_war/song/updateSongHits",
                    data: id
                }).then(function (resp) {
                    if (resp.data === "success") {

                        // 弹出消息提示
                        _this.$message({
                            message: '播放成功',
                            type: 'success'
                        });
                    }
                })
            },
            addSongtoUser(songID,userID) {
                var _this = this;
                console.log(songID);
                axios({
                    method: "post",
                    url: "http://localhost:8080/MusicWebV1_0_war/usersong/insertUserSong?user="+userID+"&song="+songID,
                }).then(function (resp) {
                    if (resp.data === "success") {
                        //更新成功
                        // 重新查询数据
                        _this.selectAll();
                        // 弹出消息提示
                        _this.$message({
                            message: '收藏成功',
                            type: 'success'
                        });
                    }
                })
            },
            selectAllTypes() {
                var _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/MusicWebV1_0_war/song/selectSongByType"
                }).then(function (resp) {
                    //设置表格数据
                    _this.types = resp.data;
                    console.log(_this.types);
                })
            },
            //查询分页数据
            selectAll() {
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/MusicWebV1_0_war/song/selectByPage?currentPage=" + this.currentPage + "&rows=" + this.pageSize,
                    data: this.song
                }).then(function (resp) {
                    //设置表格数据
                    _this.tableData = resp.data.rows;
                    _this.totalCount = resp.data.totalCount;
                })
            },
            selectSongByHitsFive() {
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/MusicWebV1_0_war/song/selectSongByHitsFive",
                }).then(function (resp) {
                    //设置表格数据
                    _this.hotsongs = resp.data;
                })
            },
            selectAllsingers() {
                var _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/MusicWebV1_0_war/singer/selectAllsingers"
                }).then(function (resp) {
                    //设置表格数据
                    _this.singers = resp.data;
                })

            },
            selectSingerByHits() {
                var _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/MusicWebV1_0_war/singer/selectSingerByHits"
                }).then(function (resp) {
                    //设置表格数据
                    _this.singers = resp.data;
                })

            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
                //console.log(this.multipleSelection)
            },
            //分页
            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                // 重新设置每页显示的条数
                this.pageSize = val;
                this.selectAll();
            },
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                // 重新设置当前页码
                this.currentPage = val;
                this.selectAll();
            },
            setSize() {
                //  通过浏览器宽度(图片宽度)计算高度
                this.bannerHeight = (400 / 1920) * this.screenWidth;
            },
            selectAllAll() {
                var _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/MusicWebV1_0_war/song/selectAll"
                }).then(function (resp) {
                    //设置表格数据
                    _this.tableData = resp.data;
                })
            },
            // play(fileURL) {
            //     console.log(fileURL);
            //     const audio = new Audio(fileURL);
            //     if (audio.paused) {
            //         audio.play();
            //     } else {
            //         audio().pause();
            //     }
            // },
            //播放器
            // 监听audio标签的音频加载完成事件
            loadeddata() {
                // 需等音频加载完成，才能获取到音频的时长
                this.marks["100"] = this.s_to_MS(this.$refs.Ref_audioPlayer.duration);
            },

            // 监听audio标签的播放事件
            onPlay() {
                this.msg = "播放中";
                this.playstatus = true;
            },
            // 监听audio标签的暂停事件
            onPause() {
                this.msg = "已暂停";
                this.playstatus = false;
            },
            // 监听audio标签的停止播放事件
            overAudio() {
                this.msg = "播放结束";
                this.playstatus = false;
            },
            // 监听audio标签的播放进度改变事件
            timeupdate(e) {
                // 使用this.isDraging来控制，当拖拽进度条的过程中，停止对进度的更新——用于解决bug:拖动进度条自动回弹
                if (!this.isDraging) {
                    this.currentRate = Math.floor(
                        (e.target.currentTime / this.$refs.Ref_audioPlayer.duration) * 100
                    );

                    this.marks["0"] = this.s_to_MS(e.target.currentTime);
                }
            },

            // 秒数转换分+秒
            s_to_MS(s) {
                let m;
                m = Math.floor(s / 60);
                s = Math.floor(s % 60);
                m += "";
                s += "";
                s = s.length == 1 ? "0" + s : s;
                if (isNaN(m)) {
                    return "∞";
                }
                return m + ":" + s;
            },

            // 切换音乐
            // changeMusice(newMusicName) {
            //     this.musicName = newMusicName;
            //     this.$nextTick(() => {
            //         this.$refs.Ref_audioPlayer.play();
            //     });
            // },
            changeMusic(index) {
                this.MusicIndex = index;
                this.play();
            },
            // 原创面板——播放
            play() {
                this.$refs.Ref_audioPlayer.play();
                console.log(this.$refs.Ref_audioPlayer);
            },

            // 原创面板——暂停
            pause() {
                this.$refs.Ref_audioPlayer.pause();
            },

            // 原创面板——重新播放
            replay() {
                this.$refs.Ref_audioPlayer.currentTime = 0;
                this.$refs.Ref_audioPlayer.play();
            },

            // 原创面板——前进、后退——改变当前播放位置
            move(val) {
                this.$refs.Ref_audioPlayer.currentTime += val;
                this.$refs.Ref_audioPlayer.play();
            },

            // 原创面板——点击/拖拽原创面板进度条
            currentRateChange(newVal) {
                this.$refs.Ref_audioPlayer.currentTime = Math.round(
                    (newVal / 100) * this.$refs.Ref_audioPlayer.duration
                );
                this.$refs.Ref_audioPlayer.play();
            },

            // 获取播放状态
            getPlayStatus() {
                this.$notify.info({
                    title: "当前播放状态",
                    message: this.$refs.Ref_audioPlayer.paused ? "已暂停" : "播放中",
                });
            },

            // 获取播放进度
            getCurrentTime() {
                // 已播放时长（单位秒s）
                let totalSeconds = this.$refs.Ref_audioPlayer.currentTime;
                // 分钟数
                let minites = Math.floor(totalSeconds / 60);
                // 秒数
                let seconds = Math.floor(totalSeconds % 60);

                this.$notify.info({
                    title: "当前进度",
                    message: `${minites}分${seconds}秒`,
                });

            },

            // 获取音频时长
            getLength() {
                // 时长（单位秒s）
                let totalSeconds = this.$refs.Ref_audioPlayer.duration;
                // 分钟数
                let minites = Math.floor(totalSeconds / 60);
                // 秒数
                let seconds = Math.floor(totalSeconds % 60);

                this.$notify.info({
                    title: "时长",
                    message: `${minites}分${seconds}秒`,
                });
            },
            addtolist(id,songName,fileURL){
                this.musicList.push({ songName, fileURL });
                this.updateSongHits(id);
                console.log(this.musicList);
            }


        },
        data() {
            return {
                likesong:'',
                user: {
                    id: '77',
                    manager: 'test07',
                    userFlag: ''
                },
                //设置走马灯
                img_list: ["intro1.png", "intro2.png", "intro3.png"],
                bannerHeight: 1000,
                // 浏览器宽度
                screenWidth: 1920,
                // 每页显示的条数
                pageSize: 5,
                // 总记录数
                totalCount: 100,
                // 当前页码
                currentPage: 1,
                // 查询条件
                searchCondition: {
                    searchStatus: '',
                    searchSinger: '',
                    searchSongName: ''
                },
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                // 被选中的id数组
                selectedIds: [],
                // 复选框选中数据集合
                multipleSelection: [],
                //歌曲模型：
                song: {
                    id: '',
                    songName: '',
                    singer: '',
                    fileURL: '',
                    hits: '',
                    type: '',
                    status: ''
                },
                singer: {
                    id: '1',
                    singerName: 'Singer Name',
                    imgURL: 'url',
                },
                singers: [{
                    id: '001',
                    singerName: '数据1',
                    imgURL: 'cyx.webp'
                }, {
                    id: '002',
                    singerName: '数据2',
                    imgURL: 'cyx.webp'
                }, {
                    id: '003',
                    singerName: '数据3',
                    imgURL: 'cyx.webp'
                }, {
                    id: '004',
                    singerName: '数据4',
                    imgURL: 'cyx.webp'
                }],
                hotsongs: [
                    {
                        id: 1,
                        songName: 'Jacob1111',
                        singer: '53275531',
                        hits: '12 May 2017',
                        fileURL: '富士山下.mp3',
                    }, {
                        id: 1,
                        songName: 'Jacob1111',
                        singer: '53275531',
                        hits: '12 May 2017',
                        fileURL: '富士山下.mp3',
                    }, {
                        id: 1,
                        songName: 'Jacob1111',
                        singer: '53275531',
                        hits: '12 May 2017',
                        fileURL: '富士山下.mp3',
                    }, {
                        id: 1,
                        songName: 'Jacob1111',
                        singer: '53275531',
                        hits: '12 May 2017',
                        fileURL: '',
                    }, {
                        id: 1,
                        songName: 'Jacob1111',
                        singer: '53275531',
                        hits: '12 May 2017',
                        fileURL: '',
                    },
                ],

                //player
                MusicIndex: 0,
                playstatus: false,
                isDraging: false,
                marks: {
                    0: " ",
                    100: " ",
                },
                currentRate: 0,
                msg: "待播放",
                // 歌曲名称
                musicName: "暂无歌曲",
                audioPathDic: {
                    //不再犹豫: require("@/pages/music/cantopop/audios/《不再犹豫》Beyond_粤语.mp3"),
                    //祝福你: require("@/pages/music/cantopop/audios/《祝福你》群星_粤语.mp3"),
                },
                musicList: [{
                    songName: '默认歌曲',
                    fileURL: '倒数.mp3',
                }],
                tableData: [{
                    id: '1',
                    songName: 'test',
                    singer: 'me',
                    fileURL: '1.mp3',
                    hits: '99',
                    type: '10',
                    status: '1'
                }],
                types:["国语","粤语","韩语","英语"]
            }
        }
    })

</script>


<!-- End custom js for this page-->


</body>
</html>

